@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Outfit', sans-serif;
}

/* Dark Theme */
body.dark {
  background-color: #0B0B16; /* Space-like dark background */
  color: #FFFFFF; /* White text for dark theme */
}

/* Light Theme */
body {
  background-color: #7591f6; /* Snowy white background */
  color: #000000; /* Dark text for light theme */
}
